name: Autoupdate

on:
 workflow_dispatch:
 schedule:
   - cron: "0 0 * * 0"

defaults:
  run:
    shell:
      bash -el {0}

jobs:
  check_update:
    name: Check if newer version exists
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Conda env
        uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # v2.0.7
        with:
          environment-file: environment.yml
          environment-name: check-env
      - name: Find latest version
        id: versions
        run: |
          pkgname="$(yq '.dependencies[0]' environment.yml | grep -Eio '[a-z0-9_-]+' | head -n 1)"
          old_version=$(micromamba list -n check-env "$pkgname" --json | jq -r '.[0].version')
          micromamba update -y -n check-env -a
          new_version=$(micromamba list -n check-env "$pkgname" --json | jq -r '.[0].version')
          if [[ "$new_version" != "$old_version" ]]; then
            sed -i "s/$old_version/$new_version/g" environment.yml
            echo "pkgname=$pkgname" >> $GITHUB_OUTPUT
            echo "new-version=$new_version" >> $GITHUB_OUTPUT
          fi
      - uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        if: steps.versions.outputs.pkgname
        with:
          commit-message: "Update ${{ steps.versions.outputs.pkgname }} to ${{ steps.versions.outputs.new-version }}"
          title: "Update ${{ steps.versions.outputs.pkgname }} to ${{ steps.versions.outputs.new-version }}"
          body: |
            A new release of ${{ steps.versions.outputs.pkgname }} was detected on conda-forge.

            This PR updates ${{ steps.versions.outputs.pkgname }} to version ${{ steps.versions.outputs.new-version }} and will push a tag on merge automatically.
          branch: v${{ steps.versions.outputs.new-version }}
          delete-branch: true
